[Unit]
Description=Streamtool Watcher Service
After=streamtool-fpm.service
Requires=streamtool-fpm.service

[Service]
Restart=always
Type=simple
ExecStart=/bin/sh -c '/opt/streamtool/app/php/bin/php /opt/streamtool/app/www/cron.php  2>&1 > /opt/streamtool/app/logs/watcher.log'
User=streamtool
Group=streamtool
KillMode=mixed

[Install]
WantedBy=default.target