[Unit]
Description=Streamtool Stats Service
After=streamtool-fpm.service
Requires=streamtool-fpm.service

[Service]
Restart=always
Type=simple
ExecStart=/bin/sh -c '/opt/streamtool/app/php/bin/php -f /opt/streamtool/app/www/servicestat.php  2>&1 > /opt/streamtool/app/logs/statservice.log'
User=streamtool
Group=streamtool
KillMode=process

[Install]
WantedBy=default.target